#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
PARALLEL = -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
PARALLEL =
endif

override_dh_auto_configure:
	test -d _debian || mkdir _debian
	cd _debian && ( \
		test -e Makefile || \
		./configure $(CONFFLAGS) \
			   --prefix=/usr \
			   --mandir=\$${prefix}/share/man \
			   --infodir=\$${prefix}/share/info)
	test -d _dpdk || mkdir _dpdk
	cd _dpdk && ( \
		test -e Makefile || \
		./configure $(CONFFLAGS) \
			   --with-dpdk \
			   --prefix=/usr \
			   --mandir=\$${prefix}/share/man \
			   --infodir=\$${prefix}/share/info)

override_dh_auto_build:
	$(MAKE) $(PARALLEL) -C _debian distdir=libtrace
	$(MAKE) $(PARALLEL) -C _dpdk distdir=libtrace_dpdk

override_dh_auto_clean:
	dh_auto_clean
	rm -rf _debian _dpdk

override_dh_auto_install:
	$(MAKE) -C _debian DESTDIR=$(CURDIR)/debian/tmp install

override_dh_install:
	dh_install --list-missing
